{{#contentFor 'title'}}
Đặt lại Mật Khẩu 
{{/section }}

{{> loading }}

{{#contentFor 'style'}}
<style>
    .page-single {
        padding-top: 0;
    }

    .content_center {
        display: flex;
        justify-content: center;
    }

    .form_reset_password h3 {
        color: #fff;
        text-align: center;
        margin-bottom: 20px;
    }

    .form_reset_password .row {
        margin: 10px 0 10px 0;
    }

    .form_reset_password .error {
        color: #ff0000;
    }

    .reset_success h5 {
        color: #fff;
        text-align: center;
        margin-bottom: 20px;
    }
</style>
{{/contentFor}}
<div>
    <div class="hero user-hero">
        <div class="container">
            <div class="col-md-12">
            </div>
        </div>
    </div>
    <div class="page-single">
        <div class="container">
            <div class="row ipad-width content_center">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="form-style-1 user-pro">
                        {{#if resetCompleted }}
                           <div class="reset_success">
                                <h5>Đặt Lại Mật Khẩu Thành Công</h5>
                                <a href="/">
                                    <input class="submit" type="submit" value="Home" />
                                </a>
                           </div>
                        {{else  }}
                            <form class="form_reset_password" action="/reset-password?token={{token}}">
                                <h3>Đặt Lại Mật Khẩu</h3>
                                
                                {{#if message }} 
                                    <div class="error">
                                        {{ message }}
                                    </div>
                                {{/if  }} 
                                
                                <div class="row">
                                    <div class="col-12 form-it">
                                        <label>Password</label>
                                        <input type="password" name="password" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <input class="submit" type="submit" value="reset password" />
                                    </div>
                                </div>
                            </form>
                        {{/if }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>