{{#section 'title'}}
Booking Ticket
{{/section}}

{{> loading }}

{{#section 'style'}}
<style>
    .page-single * {
        color: #fff;
    }

    .theater_group {
        display: flex;
        flex: 1 1 auto;
        justify-content: center;
        margin: auto;
        border: none;
    }

    .theater_group > .group, .theater_group > .theater {
        margin: 15px;
        width: 20%;
    }

</style>
{{/section}}

<div x-data="init()">
    <div class="hero user-hero">
		<div class="container">
			<div class="col-md-12">
               <div class="hero-ct">
                   <h1 class="mr_0 mb_10">{{name}}</h1>
               </div>
	        </div>
		</div>
	</div>
	<div class="page-single">
		<div class="container">
            <div class="theater_group topbar-filter">
                <div class="group">
                    <label class="group_title">Group</label>
                    <select>
                        <template x-for="(item, index) in groups">
                            <option x-bind:value="item.name" x-text="item.name"></option>
                        </template>
                    </select>
                </div>
                <div class="theater">
                    <label class="theater_title">Theater</label>
                    <select >
                        <template x-for="(item, index) in theaters">
                            <option x-bind:value="item.name" x-text="item.name"></option>
                        </template>
                    </select>
                </div>
            </div>
			<div class="row ipad-width">
				<div class="screen-wrapper">
                    <template x-for="(row, index) in seats" :key="index">
                        <ul class="seat-area">
                            <li class="seat-line">
                                <span>G</span>
                                <ul class="seat--area">
                                    <li class="front-seat">
                                        <ul>
                                            <template x-for="(col, index) in row" :key="index">
                                                <li class="single-seat">
                                                    <img src="/images/seat01.png" alt="seat" onclick="bookingSeat({ row, col }, )">
                                                </li>
                                           </template>
                                        </ul>
                                    </li>
                                </ul>
                                <span>G</span>
                            </li>
                        </ul>
                    </template>
                </div>
			</div>
		</div>
	</div>
</div>

<script>
    function init() {
        return {
            seats: [],
            bookingSeat(seat, movie) {
                axios.post('/ticket', { seat, movie })
                    .then(() => {
                        alert('success');
                    })
                    .catch(() => {
                        alert('falied')
                    });
            },
            fetchGroups() {
                fetch('/group-theater')
                    .then((raw) => raw.json())
                    .then((response) => {
                        if(response.isSucess) {
                            this.listGroup = response.data;
                        }
                    })
                    .catch((error) => {
                        console.log(error);
                    })
            },
            fetchTheaters() {
                fetch('/theater')
                    .then((raw) => raw.json())
                    .then((response) => {
                        if(response.isSucess) {
                            this.listTheater = response.data;
                        }
                    })
                    .catch((error) => {
                        console.log(error);
                    });
            }
        }
    }
</script>