
<style>
    ul li {
        list-style-type: none;
    }

    .seat-area .seat-line {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0;
}

.seat-area .seat-line ul.seat--area {
    width: calc(100% - 60px);
}

.seat-area .seat-line ul {
    flex-wrap: nowrap;
    justify-content: space-around;
}

.seat-area .seat-line ul .front-seat {
    padding: 0px;
}

.seat-area .seat-line ul .front-seat ul li {
    padding: 5px;
}

.single-seat {
    cursor: pointer;
    position: relative;
}


.seat-area .seat-line, .seat-area .seat-line ul {
    display: flex;
    flex-wrap: wrap;
}
</style>

<div x-data="{ row: 1, col: 9 }">
   <div class="screen-wrapper">
        <ul class="seat-area">
            <li class="seat-line">
                <span>G</span>
                <ul class="seat--area">
                    <li class="front-seat">
                        <ul>
                            <li class="single-seat">
                                <img src="../../public/images/seat01.png" alt="seat">
                            </li>
                            <li class="single-seat">
                                <img src="../../public/images/seat01.png" alt="seat">
                            </li>
                            <li class="single-seat">
                                <img src="../../public/images/seat01.png" alt="seat">
                            </li>
                            <li class="single-seat">
                                <img src="../../public/images/seat01.png" alt="seat">
                            </li>
                        </ul>
                    </li>
                    <li class="front-seat">
                        <ul>
                            <li class="single-seat">
                                <img src="../../public/images/seat01.png" alt="seat">
                            </li>
                            <li class="single-seat">
                                <img src="../../public/images/seat01.png" alt="seat">
                            </li>
                            <li class="single-seat">
                                <img src="../../public/images/seat01.png" alt="seat">
                            </li>
                            <li class="single-seat">
                                <img src="../../public/images/seat01.png" alt="seat">
                            </li>
                            <li class="single-seat">
                                <img src="../../public/images/seat01.png" alt="seat">
                            </li>
                            <li class="single-seat">
                                <img src="../../public/images/seat01.png" alt="seat">
                            </li>
                        </ul>
                    </li>
                    <li class="front-seat">
                        <ul>
                            <li class="single-seat">
                                <img src="../../public/images/seat01.png" alt="seat">
                            </li>
                            <li class="single-seat">
                                <img src="../../public/images/seat01.png" alt="seat">
                            </li>
                            <li class="single-seat">
                                <img src="../../public/images/seat01.png" alt="seat">
                            </li>
                            <li class="single-seat">
                                <img src="../../public/images/seat01.png" alt="seat">
                            </li>
                        </ul>
                    </li>
                </ul>
                <span>G</span>
            </li>
        </ul>
    </div>
</div>    
</div>    