<div>
    <form>
        <h4 class="text-center">Add Group For Theater</h4>
        <div class="row mt-5">
            <div class="col-12 col-md-6">
                <label>Name</label>
                <input class="form-control" type="text" x-model="groupForm.name">
            </div>
            <div class="col-12 col-md-6">
                <label>Address</label>
                <input class="form-control" type="text" x-model="groupForm.address">
            </div>
        </div>
        <div class="text-center mt-5">
            <input class="btn btn-primary px-5" type="submit" value="Add Group" @click="changePassword($event)">
        </div>
        <table class="mx-5" id="list-group" class="table" width="100%">
            <thead>
                <tr>
                    <th class="th-sm">Name</th>
                    <th class="th-sm">Address</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Tiger Nixon</td>
                    <td>System Architect</td>
                </tr>
            </tbody>
        </table>
    </form>

    <form>
        <h4 class="text-center">Add Theater</h4>
        <div class="row mt-5">
            <div class="col-12 col-md-6">
                <label>Name</label>
                <input class="form-control" type="text" x-model="theater.name">
            </div>
            <div class="col-12 col-md-6">
                <label>Type</label>
                <select class="custom-select" x-model="theater.type">
                    <template>

                    </template>
                </select>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12">
                <label>Group</label>
                <select class="custom-select" x-model="theater.group">
                    <template x-for="(group, index) in groups">

                    </template>
                </select>
            </div>
        </div>
        <div class="text-center mt-5">
            <input class="btn btn-primary px-5" type="submit" value="Add Theater" @click="updateProfile($event)">
        </div>
    </form>
     <table class="mx-5" id="list-theater" class="table" width="100%">
        <thead>
            <tr>
                <th class="th-sm">Name</th>
                <th class="th-sm">Type</th>
                <th class="th-sm">Group</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>1</td>
            </tr>
        </tbody>
    </table>
</div>

{{#contentFor 'scripts'}}
<script>
    $(document).ready(function () {
        $('#list-group').DataTable();
        $('.dataTables_length').addClass('bs-select');

        $('#list-theater').DataTable();
        $('.dataTables_length').addClass('bs-select');
    });
</script>
{{/contentFor}}