<form id="category-form" class="needs-validation" novalidate>
    <h4 class="text-center">Category</h4>
    <div class="row mt-5">
        <div class="col-12 mx-auto">
            <label>Name</label>
            <input class="form-control" type="text" x-model="category.data.name" required />
			<div class="invalid-feedback">Name is required</div>
        </div>
        <div class="col-12 mx-auto">
            <label>Level</label>
            <input class="form-control" type="text" x-model="category.data.level" required />
			<div class="invalid-feedback">Level is required</div>
        </div>
    </div>
</form>