<form id="group-form" class="needs-validation" novalidate>
	<h4 class="text-center">Add Group For Theater</h4>
	<div class="row mt-5">
		<div class="col-12">
			<label>Name</label>
			<input class="form-control" type="text" x-model="group.data.name" required/>
			<div class="invalid-feedback">Name is required</div>
		</div>
		<div class="col-12">
			<label>Address</label>
			<input class="form-control" type="text" x-model="group.data.address" required/>
			<div class="invalid-feedback">Address is required</div>
		</div>
	</div>
</form>