<div class="mx-2 my-5">
    {{>modal}}
    <div class="col-12">
        <div class="text-right">
            <button type="button" class="btn btn-primary" @click="category.create($event)">New</button>
        </div>

        <table class="mx-5" id="list-category" class="table table-striped table-bordered" width="100%">
            <thead>
                <tr>
                    <th class="th-sm">Name</th>
                    <th class="th-sm">Level</th>
                    <th class="th-sm">Create Date</th>
                    <th class="th-sm">Update Date</th>
                    <th class="th-sm"></th>
                </tr>
            </thead>
        </table>
    </div>

    <div class="col-12">
        <div class="text-right">
            <button type="button" class="btn btn-primary" @click="movie.create($event)">New</button>
        </div>

        <table class="mx-5" id="list-movie" class="table table-striped table-bordered" width="100%">
            <thead>
                <tr>
                    <th class="th-sm">Name</th>
                    <th class="th-sm">Describe</th>
                    <th class="th-sm">Directer</th>
                    <th class="th-sm">Writer</th>
                    <th class="th-sm">MMPA Rating</th>
                    <th class="th-sm">Publish</th>
                    <th class="th-sm">Create Date</th>
                    <th class="th-sm">Update Date</th>
                    <th class="th-sm"></th>
                </tr>
            </thead>
        </table>
    </div>

    <div>
        <div class="text-right">
            <button type="button" class="btn btn-primary" @click="group.create($event)">New</button>
        </div>
        <table class="mx-5" id="list-group" class="table" width="100%">
            <thead>
                <tr>
                    <th class="th-sm">Name</th>
                    <th class="th-sm">Address</th>
                    <th class="th-sm"></th>
                </tr>
            </thead>
        </table>
    </div>

    <div>
        <div class="text-right">
            <button type="button" class="btn btn-primary" @click="theater.create($event)">New</button>
        </div>
        
        <table class="mx-5" id="list-theater" class="table" width="100%">
            <thead>
                <tr>
                    <th class="th-sm">Name</th>
                    <th class="th-sm">Type</th>
                    <th class="th-sm">Group</th>
                    <th class="th-sm"></th>
                </tr>
            </thead>
        </table>
    </div>
</div>