<form action="#" class="mt-5 mt-lg-0">
	<h4 class="text-center">Add Movie For Theater</h4>
	<div class="row mt-5">
		<div class="col-12 col-md-6">
			<label>Name</label>
			<input class="form-control" type="text" x-model="movie.data.name">
		</div>
		<div class="col-12 col-md-6">
			<label for="category">category</label>
			<select id="category" class="custom-select" x-model="movie.data.category">
				<template x-for="(cate, index) in category.listView">
					<option x-bind:value="cate.id" x-text="cate.name"></option>
				</template>
			</select>
		</div>
	</div>
	<div class="row">
		<div>
			<image class="w-100" x-bind:src="movie.data.poster" />
		</div>
		<div class="col-12">
			<label id="">Poster</label>
			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text" id="upload-poster">Upload</span>
				</div>
				<div class="custom-file">
					<input type="file" class="custom-file-input" id="poster"
						aria-describedby="inputGroupFileAddon01" x-on:change="readFileUpload(event)">
					<label class="custom-file-label" for="poster">Choose file</label>
				</div>
			</div>
		</div>
		<div class="col-12">
			<label for="trailer">Movie Trailer</label>
			<input id="trailer" class="form-control " type="text" x-model="movie.data.trailer" />
		</div>
	</div>
	<div class="form-group">
		<label for="describe">Describe</label>
		<textarea id="describe" class="form-control" rows="10" x-model="movie.data.describe"></textarea>
	</div>
	<div class="row mt-5">
		<div class="col-12 col-md-6">
			<label for="director">Director</label>
			<input id="director" class="form-control " type="text" x-model="movie.data.director" />
		</div>
		<div class="col-12 col-md-6">
			<label for="writer">Writer</label>
			<input id="writer" class="form-control" type="text" x-model="movie.data.writer" />
		</div>
	</div>
	<div class="row mt-5">
		<div class="col-12 col-md-6">
			<label for="MMPA_rate">MMPA Rating</label>
			<input id="MMPA_rate" class="form-control" type="date" x-model="movie.data.MMPA_rating" />
		</div>
		<div class="col-12 col-md-6">
			<label for="publish">Publish</label>
			<input id="publish" class="form-control" type="date" x-model="movie.data.publish" />
		</div>
	</div>
</form>